:host{
  display: block;
  width: 40%;
  height: calc(100% + 60px);
  top: -30px;
  left: 30px;
  position: absolute;
  background: #fff;
  border-radius: 7px;

  .title{
    position: absolute;
    top: -4vw;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vw;
    width: 73%;
    .red{
      color: #f44336;
    }
  }

  .search-form{
    padding: 5%;

    .heading{
      font-size: 1.4vw;

      @media screen and (max-width: 1440px){
        font-size: 18px;
      }
    }

    .button-container{
      position: absolute;
      bottom: 25px;
      right: 25px;
    }



  }
}
